.list {
  display: flex;
  flex-direction: column;
  width: 90%;
  list-style-type: none;
  padding: 0;
}

.show_completed_container {
  width: 90%;
  display: flex;
  align-items: center;
  align-self: center;
}

.show_completed {
  color: #7b7b7b;
  display: flex;
  align-items: center;

  input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
}
